{% extends 'AppBundle::base.html.twig' %}

{% block body %}
<div class="container bs-docs-container">
    <div class="panel panel-default", style="width:100%">
        <!-- Default panel contents -->
        <div class="panel-heading">
            All
        </div>
        <table class="table">
            <tr>
                <th>Date</th>
                <th>Pseudo</th>
                <th>Nbr Pas</th>
            </tr>
            {% for podometer in podometers %}
            <tr>
                <td>{{podometer.getCompleteDateStr()}}</td>
                <td>{{podometer.user.username}}</td>
                <td>{{podometer.value}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}
