{% extends 'AppBundle::base.html.twig' %}

{% block body %}
<div class="container bs-docs-container">
    <div class="well">
        <h3 style="text-align: center">Chateau-Thierry a parcouru 1000 pas!</h3>
    </div>
</div>
{% endblock %}
